transformers
deepspeed
sentencepiece
torch
protobuf
zmq
git+https://github.com/huggingface/transformers.git
wave
soundfile
scipy
accelerate
diffusers
llama-cpp-python
pygame
opencv-python
inflect
uuid
python-dotenv
twitchio
pydub
nltk
gpt4all
chromadb
langchainhub
sentence-transformers
PyMuPDF==1.23.1
openai
sounddevice
numpy

